<div class="container">
  <form [formGroup]="myform" (ngSubmit)="getvalue()">
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <textarea
        class="form-control"
        formControlName="message"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="write your message here........ "
      >
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <label> the number of Ponctuatin : </label>
  <br />
  <div *ngIf="number === 0" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <span *ngIf="number !== 0" class="badge badge-primary">{{ number }}</span>
</div>
